# Use Dockerized infrastructure
sudo: false
language: python
# Cache our Gcloud SDK between commands
cache:
  directories:
  - "$HOME/gcloud/"
before_install:
# Decrypt the credentials we added to the repo using the key we added with the Travis command line tool
- openssl aes-256-cbc -K $encrypted_45d1b36fa803_key -iv $encrypted_45d1b36fa803_iv -in credentials.tar.gz.enc -out credentials.tar.gz -d
# If the SDK is not already cached, download it and unpack it
- tar -xzf credentials.tar.gz
- mkdir -p lib
# Here we use the decrypted service account credentials to authenticate the command line tool
- gcloud auth activate-service-account --key-file client-secret.json
install:
# Set the correct project to deploy to
- gcloud config set project continuous-deployment-python
# Install the AppEngine SDk
- gcloud -q components update gae-python
# Install the Python dependencies
- pip install -r requirements.txt -t lib/
script:
- echo "No script to run"
deploy:
    provider: gae
    keyfile: client-secret.json
    project: continuous-deployment-python
    

