# Use Dockerized infrastructure
sudo: false
language: python
before_install:
# Decrypt the credentials we added to the repo using the key we added with the Travis command line tool
- openssl aes-256-cbc -K $encrypted_45d1b36fa803_key -iv $encrypted_45d1b36fa803_iv -in credentials.tar.gz.enc -out credentials.tar.gz -d
# If the SDK is not already cached, download it and unpack it
- tar -xzf credentials.tar.gz
- mkdir -p lib
install:
# Install the Python dependencies
- pip install -r requirements.txt -t lib/
script:
- echo "No script to run"
# [START travis_deploy]
deploy:
    provider: gae
    # Skip cleanup so api_key.py and vendored dependencies are still there
    skip_cleanup: true
    keyfile: client-secret.json
    project: continuous-deployment-python
    default: true
    on:
        all_branches: true
# [END travis_deploy]
    
    

